.card {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;

  &:hover .cardImage {
    transform: scale(1.05); // enlarge 5%
  }
}

.cardContentWrapper {
  padding: 40px 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.cardContent {
  height: 200px;
}

.cardImage {
  object-fit: cover;
  width: 100%;
  transition: transform 0.3s ease;
}
