@import '../../styles/bootstrap-api.scss';

.titleFont {
  font-size: 32px;

  @include media-breakpoint-up(md) {
    font-size: 40px;
  }
}

.sectionPadding {
  padding: 80px 0px;

  @include media-breakpoint-up(md) {
    padding: 120px 0px;
  }
}
