@import '@/styles/variables';
@import '@/styles/mixins';
@import '../../styles/bootstrap-api.scss';

.card {
  height: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    margin-top: 48px;
  }
}

.imageWrapper {
  height: 330px;
  overflow: hidden;
  flex-shrink: 0;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .cardImage {
  transform: scale(1.05);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }
}
