.blog-card {
  height: 280px;
  background-color: #f2f3f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.card-subtitle {
  font-size: 14px;
  color: #2e404d;
}

.card-date {
  font-size: 12px;
  color: #2e404d;
}

.card-badge {
  font-size: 12px;
  color: #2e404d;
  border: 1px solid #2e404d;
  border-radius: 12px;
  display: inline-block;
  max-width: fit-content;
}

.card-link {
  font-size: 14px;
}
