@import './bootstrap-api';
@import './mixins';

.hero-container {
  position: relative;
  width: 100%;
}

.homepage-hero-text-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 24px;

  @include media-breakpoint-up(sm) {
    font-size: 40px;
    position: absolute;
  }

  h1 {
    font-size: 32px;
    font-weight: 400;

    @include media-breakpoint-up(sm) {
      font-size: 40px;
    }
  }
}

.subpage-hero-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 24px;

  h1 {
    font-size: 32px;
    font-weight: 400;

    @include media-breakpoint-up(lg) {
      font-size: 56px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 300;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }
}

.hero-background-wrapper {
  img {
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 500px;
  }
}
