@import 'bootstrap-api';

.content-wrapper {
  padding: 0px 20px;

  @include media-breakpoint-up(md) {
    padding: 0px 40px;
  }

  @include media-breakpoint-up(lg) {
    padding: 0px 8%;
  }

  @include media-breakpoint-up(xxl) {
    padding: 0px calc((100% - 1200px) / 2);
  }
}

.three-columns-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.two-columns-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
  }
}

.ntt-bg-logo {
  background: url(/images/bg_nttdata_logo.svg) right top no-repeat #2e404d;
  background-size: auto 100%;
}
