.overlay-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #070f26;
    opacity: 0.58;
    pointer-events: none;
  }
}
