@import 'bootstrap-api';

.overlay-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #070f26;
    opacity: 0.58;
    pointer-events: none;
  }
}

.two-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.three-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.five-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hover-zoom-wrapper {
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    transition: transform 0.3s ease-out;
  }
  &:hover img {
    transform: scale(1.05); // enlarge 5%
  }
}

// Responsive font size classes
.fs-responsive-lg {
  font-size: 32px;
  @include media-breakpoint-up(md) {
    font-size: 40px;
  }
}

.fs-responsive-md {
  font-size: 24px;
  @include media-breakpoint-up(md) {
    font-size: 32px;
  }
}
